/*================================================*/
/*====== MEDIA QUERY FOR SCREEN WIDTH: 900PX =====*/
/*================================================*/
@media (max-width: 900px)
{
    .container
    {
	width: 97vw;
    }

    .container .filters .popover_container_locations
    {
	top: 225%;
    }

    .places article
    {
	display: block;
	width: 70vw;
	margin-left: 50%;
	transform: translate(-50%);
	position: relative;
	z-index: -1;
    }

    .container .filters .locations .popover_container_locations,
    .container .filters .amenities .popover_container_amenities
    {
	z-index: 9999;
    }
}

/*================================================*/
/*====== MEDIA QUERY FOR SCREEN WIDTH: 600PX =====*/
/*================================================*/
@media (max-width: 600px)
{
    .container
    {
	width: 95vw;
    }

    .container .filters .popover_container_locations
    {
	top: 237%;
    }

    .places article
    {
	display: block;
	width: 80vw;
	margin-left: 50%;
	transform: translate(-50%);
	position: relative;
	z-index: -1;
    }

    .container .filters .locations .popover_container_locations,
    .container .filters .amenities .popover_container_amenities
    {
	z-index: 9999;
    }
}
